.button{
    font-size: rem(24);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.38333em 1.63333em;
    margin: 0;
    border: em(2,24) solid;
    font-family: 'Futura PT';
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    img{
        width: em(24,24);
        margin-left: em(24,24);
    }
    &--red{
        color: #fff;
        background: #E4022F;
        border-color: #E4022F;
    }
    &--transparent{
        color: #fff;
        border-color: #fff;
    }
    &--small{
        
    }
    &--middle{
        padding: 0.18334em 0.93334em;
        font-size: rem(32);
    }
    &--big{
        font-size: rem(32);
        padding: 0.48333em 1.13333em;
    }
    @media (max-width: 768px) {
        font-size: rem(14);
        width: em(160,14);
        padding: 0.88333em 0;
        // &--middle{
        //     padding: 0.18334em 0.93334em;
        //     font-size: rem(32);
        // }
        // &--big{
        //     font-size: rem(32);
        //     padding: 0.48333em 1.13333em;
        // }
    }
}