.package{
    margin-bottom: 5.75em;
    position: relative;
    &__head{
        font-size: em(110);
        font-family: 'Oswald';
        font-weight: 500;
        margin-bottom: em(86,110);
        text-transform: uppercase;
        br{
            display: none;
        }
    }
    &__table{
        width: 100%;
        thead{
            td{
                font-size: em(35);
                height: em(107,35);
                background: #E4022F;
                padding: 0 em(24,35);
            }

        }
        tbody{
            tr{
                background: #000000;
                &:nth-child(even){
                    background: #222222;
                }
            }
        }
        td{
            font-size: em(28);
            height: em(94,28);
            padding: 0 em(24,28);
            border-right: 1px solid #4F4F4F;
            vertical-align: middle;
            text-align: right;
            &:first-child{
                text-align: left;
            }
            &:last-child{
                border: none;
            }
        }
    }
    &__fly{
        position: absolute;
        bottom: 0;
        left: 0;
        width: em(256);
        margin-bottom: -8.8em;
    }
    @media (max-width: 768px) {
        margin-bottom: 2.95em;
        .container{
            max-width: 100%;
        }
        &__head{
            font-size: em(40);
            margin-bottom: 1.1em;
            padding-left: 2em;
            br{
                display: inline;
            }
        }
        &__table_wrap{
            width: 100%;
            overflow-x: auto;
            padding: 0 1.3em;
        }
        &__table{
            width: 55.5em;
        }
        thead{
            td{
                font-size: em(20);
                height: 2.35714em;
                padding: 0 em(20,20);
            }
            
        }
        td{
            font-size: em(20);
            height: em(61.5,20);
            padding: 0 em(20,20);
        }
        &__fly{
            display: none;
        }
    }
    
}