script(src='./public/js/swiper-bundle.min.js')
script(src='./public/js/light-gallery/plugins/video/lg-video.min.js')
script(src='./public/js/light-gallery/plugins/zoom/lg-zoom.min.js')
script(src='./public/js/light-gallery/plugins/thumbnail/lg-thumbnail.min.js')
script(src='./public/js/light-gallery/lightgallery.min.js')
script(src='./public/js/main.min.js')
