head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=contain')
	title= title
	link(rel='icon' href='./public/img/favicon.ico' type='image/x-icon')
	link(rel='shortcut icon' href='./public/img/favicon.ico' type='image/x-icon')
	link(rel='stylesheet' href='./public/css/swiper-bundle.min.css')
	link(rel='stylesheet' href='./public/js/light-gallery/css/lightgallery-bundle.min.css')
	link(rel='stylesheet' href='./public/css/style.min.css')
