* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;

	&:focus {
		outline: none;
	}
}
* {
  box-sizing: border-box;
}

img {
  display: block;
}
:root{
  font-size: (16 / 19.2 * 1vw);
  background: #121212;
  @media (max-width: 768px) {
  
    font-size: (16 / 5 * 1vw);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Futura PT';
  font-weight: 500;
  // font-size: 110px;
  line-height: 1.1;
  -webkit-text-size-adjust: 100%;
  &.modal_open{
    overflow: hidden;
  }
}

.body-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #121212 url(../img/bg.jpg) center top/cover no-repeat;
  color: #fff;
  @media (max-width: 768px) {
    background-image: url('../img/bg__mob.jpg');
  }
}

.container {
  // position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: rem(1500);
  @media (max-width: 768px) {
    max-width: 28.65rem;
  }
}

[data-popup]{
  cursor: pointer;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{
  transform: scale(0);
}
.swiper-pagination-bullet{
  margin: 0 em(12);
}